<script>
  function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};
</script>
<%= render 'shared/errors', obj: @article %>
<div class='col-sm-12'>
  <div class="col-sm-8">
    <%= form_for @article, :html => {:multipart => true,  :class => "form-horizontal project" } do |f| %>
      <% if params[:param1] == 'confirm' %>
        <% if @article.category == "Land" %>
          <div class="form-group">
            <div class=" col-sm-6 gutter-0">
              <%#= f.number_field :size, :step => 2, class: "form-control", placeholder: "Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
              <%= f.number_field :size, class: "form-control", placeholder: "Land Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
            </div>                 
            <div class=" col-sm-6 gutter-0">
              <%= f.select :uom, options_for_select([['Acres','5'],['Hectres','6']], @article.uom || current_user.preferuom), {}, { class: "form-control" } %>
            </div>
          </div> 
        <% else %>
          <div class="form-group">
            <div class="col-sm-6 gutter-0">
              &nbsp;<b>Bedroom:</b><br>
              <%= f.select :bedroom, [['Rooms:',''],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
            </div>
            <div class=" col-sm-6 gutter-0">
              &nbsp;<b>Bath:</b><br>
              <%= f.select :bathroom, [['Baths:',''],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
            </div>
          </div>
          
          <div class="form-group">
            <div class=" col-sm-4 gutter-0">
              &nbsp;<b>Land Size:</b><br>
              <%#= f.number_field :size, :step => 2, class: "form-control", placeholder: "Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
              <%= f.number_field :size, class: "form-control", placeholder: "Land Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
            </div>                 
            <div class=" col-sm-4 gutter-0">
              &nbsp;<b>Built-up:</b><br>
              <%#= f.number_field :size, :step => 2, class: "form-control", placeholder: "Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
              <%= f.number_field :size1, class: "form-control", placeholder: "Built-up", :value => (number_with_precision(f.object.size1, :precision => 0) ) %> 
            </div>  
            <div class=" col-sm-4 gutter-0">
              &nbsp;<b>Unit of Measurement:</b><br>
              <%= f.select :uom, options_for_select([['SqFt','3'],['SqM','4'],['Acres','5'],['Hectres','6']], @article.uom || current_user.preferuom), {}, { class: "form-control" } %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 gutter-0"> 
              <b><%= "Facilities:" %></b>
            </div> 
            <div class='row'> 
              <div class='col-sm-offset-0 col-sm-12'>
                <div class="well well-sm ">
                  <div class="form-group">
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xlift  %><%= 'Lift'%>
                    </div> 
            
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xpool %><%= 'Swim Pool'%>          
                    </div>   
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xsqua %><%= 'Squash Court'%>          
                    </div>
                  </div>       
                  <div class="form-group">
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xplay %><%= 'Playground'%>
                    </div> 
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xbalc %><%= 'Balcony'%>          
                    </div>   
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xgymn %><%= 'Gymnasium'%>          
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xmini %><%= 'Mini Market'%>
                    </div> 
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xjogg %><%= 'Jog Tracks'%>          
                    </div>   
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xcabl %><%= 'Cable TV'%>          
                    </div>
                  </div>        
                  <div class="form-group">
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xtenn %><%= 'Tennis Court'%>
                    </div> 
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xpark %><%= 'Car Park'%>          
                    </div>   
                    <div class="checkbox col-sm-offset-1 col-sm-3">
                      <%= f.check_box :xsecu %><%= 'Security'%>          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--form group[-->
        <% end %><!--land or else-->
      
      <% else %> <!--Page 1 top of page -->
        <div class="form-group"> 
          <div class="col-sm-12 gutter-0">&nbsp;<b>Property Type:</b></div>
          <div class="col-sm-12 btn-group gutter-0" data-toggle="buttons">

            <% if @article.proptype == 'for Sale' or params[:proptype] == 'for Sale' %> 
              <label class="btn btn-primary btn-sm active">
                <%= f.radio_button :proptype, 'for Sale', :checked =>  params[:proptype] == 'for Sale' %> For Sale
              </label>
            <% else %>
              <label class="btn btn-primary btn-sm">
                <%= f.radio_button :proptype, 'for Sale' %> For Sale
              </label>
            <% end %>
            
            <% if @article.proptype == 'for Rent' or params[:proptype] == 'for Rent' %>
              <label class="btn btn-primary btn-sm active">
            <% else %>
              <label class="btn btn-primary btn-sm">
            <% end %>            
              <%= f.radio_button :proptype, 'for Rent' %> For Rent
            </label>

            <% if @article.proptype == 'for Auction' or params[:proptype] == 'for Auction' %>
              <label class="btn btn-primary btn-sm active">
            <% else %>            
              <label class="btn btn-primary btn-sm">
            <% end %>
              <%= f.radio_button :proptype, 'for Auction' %> For Auction
            </label>
            
            <% if @article.proptype == 'new Launch' or params[:proptype] == 'new Launch' %>
              <label class="btn btn-primary btn-sm active">
            <% else %>            
              <label class="btn btn-primary btn-sm">
            <% end %>
              <%= f.radio_button :proptype, 'new Launch' %> New Launch
            </label>
            
          </div>
        </div>

        <% if @places_for_dropdown.count.to_i == 1 %>
          <div class="form-group">        
            <div class="col-sm-6 gutter-0">         
              &nbsp;<b>Country:</b><br>
              <%= select("place", "name", options_for_select(@places_for_dropdown, @places_for_dropdown.first), {}, {class: 'form-control'}) %>            
            </div> 
          </div>
        <% else %>
          <div class="form-group"> 
            <div class="col-sm-6 gutter-0"> 
              <%#= select("place", "name", options_for_select(@places_for_dropdown, :selected => @article.place), {prompt: 'Select Country'}, {class: 'form-control'}) %>
              &nbsp;<b>Country:</b><br>
              <%= select("place", "name", options_for_select(@places_for_dropdown, @article.place || current_user.prefercountry), {prompt: 'Select Country'}, {class: 'form-control'}) %>
            </div> 
          </div>
        <% end %>
        <div class="form-group">  
          <div class="col-sm-6 gutter-0"> 
            &nbsp;<b>Region:</b><br>
            <%= select("region", "name", options_for_select(@regions_for_dropdown, :selected => @article.region), {prompt: 'Select Region'}, {class: 'form-control'}) %>
          </div> 
          <div class="col-sm-6 gutter-0"> 
            &nbsp;<b>Area:</b><br>
            <%= select("area", "name", options_for_select(@areas_for_dropdown, :selected => @article.area), {prompt: 'Select Area'}, {class: 'form-control'}) %>
          </div> 
        </div>    
      
        <div class="form-group"> 
          <div class=" col-sm-4 gutter-0">
            &nbsp;<b>Category:</b><br>
            <%= f.select :category, [['Category:',''], ['Apartment','Apartment'],['House','House'],['Commercial','Commercial'],['Land','Land'],['Room','Room'],['New','New']], {}, { class: "form-control" } %>
          </div>
          <div class="col-sm-4 gutter-0"> 
            &nbsp;<b>Title Type:</b><br>
            <%= f.select :titletype, [['Title type:',''], ['Freehold','Freehold'],['Leasehold','Leasehold']], {}, { class: "form-control" } %>
          </div> 
          <div class="col-sm-4 gutter-0"> 
            &nbsp;<b>Other Info:</b><br>
            <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown, :selected => @article.otherinfo), {prompt: 'Other info:'}, {class: 'form-control'}) %>
          </div> 
        </div>

        <div class="form-group"> 
          <div class="col-sm-12 gutter-0">&nbsp;<b>Title:</b></div>
          <div class="col-sm-12 gutter-0"> 
            <%= f.text_field :title, class: "form-control", placeholder: "Title of Ad (Max: 50 characters)", :maxlength => 50 %> 
          </div> 
        </div> 
        <div class="form-group"> 
          <div class="col-sm-12 gutter-0">&nbsp;<b>Description:</b></div>
          <div class="col-sm-12 gutter-0">
            <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Descriptions (Max: 1000 characters)", :maxlength => 1000 %> 
          </div> 
        </div> 
      
        <div class="form-group">
          <div class="col-sm-2 gutter-0"> 
            &nbsp;<b>Currency:</b><br>
            <%= f.collection_select(:currency, Place.where(status: true), :id, :currency, {:selected => current_user.prefercountry}, {:class => 'form-control'} ) %>
          </div>
          <div class="col-sm-5 gutter-0"> 
            &nbsp;<b>Amount:</b><br>
            <%= f.number_field :amount, class: "form-control", placeholder: "Amount" , :value => (number_with_precision(f.object.amount, :precision => 0))%> 
          </div>                 
          <div class=" col-sm-5 gutter-0">
            &nbsp;<b>Valuation:</b><br>
            <%= f.number_field :valuation, class: "form-control", placeholder: "Valuation" , :value => (number_with_precision(f.object.valuation, :precision => 0))%> 
          </div>
        </div> 
 
      <% end %> <!--params1==confirm-->  

      <div class="form-group form-actions">
        <div align="center" class="col-sm-12 gutter-0">
          <% if params[:param1] == 'confirm' %>
            <%= f.button "SAVE & CONTINUE", name: "mmaction1", value: "NEXT", :class => "btn btn-primary btn-block"%>
          <% else %>
            <%= f.hidden_field :xonline, value: false %>  
            <%= f.submit "NEXT", name: "mmaction1", value: "NEXT", :class => "btn btn-primary btn-block"%>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <% if params[:param1] == 'confirm' %>
          <h4><%= "NEXT: Upload a maximum of 6 images:" %></h4><br>
          <% current_article = @article.id %>
          <% session[:current_article] = @article.id %>
          <%= render :partial => 'images/form', :object => @image %>
        <% end %>
      </div>
      <div class="form-group form-actions">
        <div align="center" class="col-sm-12 gutter-0">
          <% if params[:param1] == 'confirm' %><br>
            <%#= f.hidden_field :xonline, value: true %>  
            <%= f.button "PUBLISH ONLINE", name: "mmpublish", value: "YES", :class => "btn btn-primary btn-block"%>
          <% end %>
        </div>
      </div>
    <% end %>

  </div><!--col-8-->
  <div align="center" class="col-sm-4">
    <img src="/assets/adspace.gif" width=100%>
    <img src="/assets/leasedAd.gif" width=100%>
  </div>
</div>


