<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif; background-color: #e4685d; }
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10.5s;
  animation-name: fade;
  animation-duration: 10.5s;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: .8}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: .8}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
<div id="container">
  <div id="middle">

    <div class="slideshow-container col-md-12 gutter-0">
      <div class="mySlides fade">
        <div class="numbertext">Highlights</div>
        <img src="assets/scr1.gif" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">Featured Location</div>
        <img src="assets/scr2.gif" style="width:100%">
        <div class="text">National Monument - Kuala Lumpur</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">Higly Recommended</div>
        <img src="assets/scr3.gif" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
    </div>
    <br>
    <div style="text-align:center" class="col-md-12">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span><br><br><br><br>
    </div>
    
    <div class='col-md-12 gutter-0'>
      <div align="left" class="latest col-md-6 gutter-0" >
        <%= "Latest: NEWLY LAUNCHED" %>
      </div>
      <div align="right" class="latest col-md-6 gutter-0" >
        <%= link_to "... more".html_safe, root_path(:proptype => "new Launch", :more => "Y") %>
      </div>
      <div class="latest col-md-12 gutter-0"><hr></div>
      <% mm=1 %>
      <% @articles4.each do |articles4| %> 
      	<div align="center" class="col-sm-4 gutter-0" >
          <% articles4.images.each do |t| %>
            <% if t.picture.url %>
              <div class="image-std gutter-0" style="background-image: url('<%= t.picture.url %>'); width: 100%; height: 188px;">
                <div class="property-price">
                  <% @place = Place.find(articles4.currency) if articles4.currency.present? %>
                  <%= @place.currency if @place.present? %> <%= number_with_precision(articles4.amount, precision: 0, delimiter: ' ') %>
                </div>
                <%= link_to article_path(articles4, :usr => articles4.user_id), :class => 'click-able' do %>
                  <span></span>
                <% end %>
              </div>
              <div align = "center">
                <% if articles4.area.present? %>
                  <% @area = Area.find(articles4.area)  %>
                  <%= @area.name %>,&nbsp;
                <% end %>
                <% if articles4.region.present? %>
                  <% @region = Region.find(articles4.region)  %>
                  <%= @region.name %>.
                <% end %>
              </div>
              <div align = "center">
                <% if articles4.place.present? %>
                  <% @place = Place.find(articles4.place)  %>
                  <%= @place.name %>
                <% end %>
              </div>
            <% else %>
              xx<%= image_tag url('images/noimage.gif'), size: "150x100" %>xx
            <% end %>
            <% break %>
          <% end %>
          <% if !articles4.images.present? %>
            <%= image_tag("noimage.gif") %>
          <% end %><br>
      	</div>
      	<% mm = mm + 1 %>
      	<% if mm == 4 %>
      	  <% break %>
      	<% end %>
      <% end %>
    </div>

    <div class='col-md-12 gutter-0'>
      <div align="left" class="latest col-md-6 gutter-0" >
        <%= "Latest: FOR SALE" %>
      </div>
      <div align="right" class="latest col-md-6 gutter-0" >
        <%= link_to "... more".html_safe, root_path(:proptype => "for Sale", :more => "Y") %>
      </div>
      <div class="latest col-md-12 gutter-0"><hr></div>
      <% mm=1 %>
      <% @articles1.each do |article1| %> 
      	<div align="center" class="col-sm-4 gutter-0" >
          <% article1.images.each do |t| %>
            <% if t.picture.url %>
              <div class="image-std gutter-0" style="background-image: url('<%= t.picture.url %>'); width: 100%; height: 188px;">
                <div class="property-price">
                  <% @place = Place.find(article1.currency) if article1.currency.present? %>
                  <%= @place.currency if @place.present? %> <%= number_with_precision(article1.amount, precision: 0, delimiter: ' ') %>
                </div>
                <%= link_to article_path(article1, :usr => article1.user_id), :class => 'click-able' do %>
                  <span></span>
                <% end %>
              </div>
              <div align = "center">
                <% if article1.area.present? %>
                  <% @area = Area.find(article1.area)  %>
                  <%= @area.name %>,&nbsp;
                <% end %>
                <% if article1.region.present? %>
                  <% @region = Region.find(article1.region)  %>
                  <%= @region.name %>.
                <% end %>
              </div>
              <div align = "center">
                <% if article1.place.present? %>
                  <% @place = Place.find(article1.place)  %>
                  <%= @place.name %>
                <% end %>
              </div>
            <% else %>
              xx<%= image_tag url('images/noimage.gif'), size: "150x100" %>xx
            <% end %>
            <% break %>
          <% end %>
          <% if !article1.images.present? %>
            <%= image_tag("noimage.gif") %>
          <% end %><br>
      	</div>
      	<% mm = mm + 1 %>
      	<% if mm == 4 %>
      	  <% break %>
      	<% end %>
      <% end %>
    </div>
    
    <div class='col-md-12 gutter-0'>
      <div align="left" class="latest col-md-6 gutter-0" >
        <%= "Latest: FOR RENT" %>
      </div>
      <div align="right" class="latest col-md-6 gutter-0" >
        <%= link_to "... more".html_safe, root_path(:proptype => "for Rent", :more => "Y") %>
      </div>
      <div class="latest col-md-12 gutter-0"><hr></div>
      <% mm=1 %>
      <% @articles2.each do |article2| %> 
      	<div align="center" class="col-sm-4 gutter-0" >
          <% article2.images.each do |t| %>
            <% if t.picture.url %>
              <div class="image-std gutter-0" style="background-image: url('<%= t.picture.url %>'); width: 100%; height: 188px;">
                <div class="property-price">
                  <% @place = Place.find(article2.currency) if article2.currency.present? %>
                  <%= @place.currency if @place.present? %> <%= number_with_precision(article2.amount, precision: 0, delimiter: ' ') %>
                </div>
                <%= link_to article_path(article2, :usr => article2.user_id), :class => 'click-able' do %>
                  <span></span>
                <% end %>
              </div>
              <div align = "center">
                <% if article2.area.present? %>
                  <% @area = Area.find(article2.area)  %>
                  <%= @area.name %>,&nbsp;
                <% end %>
                <% if article2.region.present? %>
                  <% @region = Region.find(article2.region)  %>
                  <%= @region.name %>.
                <% end %>
              </div>
              <div align = "center">
                <% if article2.place.present? %>
                  <% @place = Place.find(article2.place)  %>
                  <%= @place.name %>
                <% end %>
              </div>
            <% else %>
              xx<%= image_tag url('images/noimage.gif'), size: "150x100" %>xx
            <% end %>
            <% break %>
          <% end %>
          <% if !article2.images.present? %>
            <%= image_tag("noimage.gif") %>
          <% end %><br>
      	</div>
      	<% mm = mm + 1 %>
      	<% if mm == 4 %>
      	  <% break %>
      	<% end %>
      <% end %>
    </div>
    
    <div class='col-md-12 gutter-0'>
      <div align="left" class="latest col-md-6 gutter-0" >
        <%= "Latest: FOR AUCTION" %>
      </div>
      <div align="right" class="latest col-md-6 gutter-0" >
        <%= link_to "... more".html_safe, root_path(:proptype => "for Auction", :more => "Y") %>
      </div>
      <div class="latest col-md-12 gutter-0"><hr></div>
      <% mm=1 %>
      <% @articles3.each do |articles3| %> 
      	<div align="center" class="col-sm-4 gutter-0" >
          <% articles3.images.each do |t| %>
            <% if t.picture.url %>
              <div class="image-std gutter-0" style="background-image: url('<%= t.picture.url %>'); width: 100%; height: 188px;">
                <div class="property-price">
                  <% @place = Place.find(articles3.currency) if articles3.currency.present? %>
                  <%= @place.currency if @place.present? %> <%= number_with_precision(articles3.amount, precision: 0, delimiter: ' ') %>
                </div>
                <%= link_to article_path(articles3, :usr => articles3.user_id), :class => 'click-able' do %>
                  <span></span>
                <% end %>
              </div>
              <div align = "center">
                <% if articles3.area.present? %>
                  <% @area = Area.find(articles3.area)  %>
                  <%= @area.name %>,&nbsp;
                <% end %>
                <% if articles3.region.present? %>
                  <% @region = Region.find(articles3.region)  %>
                  <%= @region.name %>.
                <% end %>
              </div>
              <div align = "center">
                <% if articles3.place.present? %>
                  <% @place = Place.find(articles3.place)  %>
                  <%= @place.name %>
                <% end %>
              </div>
            <% else %>
              xx<%= image_tag url('images/noimage.gif'), size: "150x100" %>xx
            <% end %>
            <% break %>
          <% end %>
          <% if !articles3.images.present? %>
            <%= image_tag("noimage.gif") %>
          <% end %>
      	</div>
      	<% mm = mm + 1 %>
      	<% if mm == 4 %>
      	  <% break %>
      	<% end %>
      <% end %>
    </div>
  </div>
  <div id="right">
    <div class="left-padding" align="center">
      <!--<img src="assets/joinnow.gif" style="width:100%">-->
      <%= link_to image_tag("/assets/joinnow.gif", width: "80%"), new_user_registration_path %>
      <div align="left" class="latest">
        <h3>Other Services</h3>
      </div>
      <div class="div1" style="background-color: #1F497D">
        <div class="row">
          <div class="col-md-4 gutter-0">
            <img src="/assets/ipwai.gif">
          </div>
          <div align="left" class="col-md-8 gutter-0">
             Plumbing Services
             Puchong, Cheras & PJ Area<br>
             http://www.ipwai.com
          </div>
          <div class="col-md-12"><br><hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 gutter-0">
            <img src="/assets/ipwai.gif">
          </div>
          <div align="left" class="col-md-8 gutter-0">
             Plumbing Services
             Puchong, Cheras & PJ Area<br>
             http://www.ipwai.com
          </div>
          <div class="col-md-12"><br><hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 gutter-0">
            <img src="/assets/ipwai.gif">
          </div>
          <div align="left" class="col-md-8 gutter-0">
             Plumbing Services
             Puchong, Cheras & PJ Area<br>
             http://www.ipwai.com
          </div>
          <div class="col-md-12"><br><hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 gutter-0">
            <img src="/assets/ipwai.gif">
          </div>
          <div align="left" class="col-md-8 gutter-0">
             Plumbing Services
             Puchong, Cheras & PJ Area<br>
             http://www.ipwai.com
          </div>
          <div class="col-md-12"><br><hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 gutter-0">
            <img src="/assets/ipwai.gif">
          </div>
          <div align="left" class="col-md-8 gutter-0">
             Plumbing Services
             Puchong, Cheras & PJ Area<br>
             http://www.ipwai.com
          </div>
        </div>        
      </div>
      <div align="center">
        <br><br><img src="/assets/contactus.gif" width=100%>
      </div>
      <% if current_user.present? %>
        <%#= gravatar_for current_user, size:200 %>
        <%= link_to image_tag("/assets/gprofile.gif", width: "100%"), "http://gravatar.com" %><br>
        <div class="div1">
          <b>Gravatar for Profile Picture</b><br>
          Gravatar stands for Globally Recognized Avatar. It is globally recognized because millions of people and websites use them. 
          Most popular applications like WordPress have built-in support for Gravatar.<br> 
          When a user leaves a comment (with email) on a site that supports Gravatar, 
          it pulls their Globally Recognized Avatar from Gravatar servers. 
          Then that picture is shown next to the comment. 
          This allows each commenter to have their identity through out the world wide web.
        </div>
      <% end %>  
    </div> 
  </div>
</div>

<script>
var slideIndex = 0;
showSlides();
function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>
</html>