<div class='row'> 
  <div class='col-xs-12 article-title'>
    <br><%= @article.title %><br><br>
  </div>
  <div class='col-sm-8'>
    
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
    <style>
    .mySlides {display:none}
    .demo {cursor:pointer}
    </style>
    <div class="form-group">
      <div align="left" class='col-sm-6 gutter-0'>          
        Ad Id:&nbsp;<%= @article.id %>
      </div>
      <div align="right" class='col-sm-6 gutter-0'>          
        <%= @article.updated_at.to_formatted_s(:short) %>
      </div>
    </div>
    
    <div align="left" class="col-sm-12 w3-content style-image gutter-0">
      <% @article.images.each do |t| %>
        <%= image_tag t.picture.url, height: "400", class: " mySlides style-image" %>
      <% end %>
    </div>

    <div align="left" class="col-sm-12 w3-row-padding w3-section gutter-0">
      <br>
      <% mm = 1 %>
      <% @article.images.each do |t| %>
        <% if mm == 1 %>
          <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(1)" %>&nbsp;
          <% else if mm == 2 %>
            <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(2)" %>&nbsp;
            <% else if mm == 3 %>
              <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(3)" %>&nbsp;
              <% else if mm == 4 %>
                <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(4)" %>&nbsp;
                <% else if mm == 5 %>
                  <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(5)" %>&nbsp;
                <% else %>
                  <%= image_tag t.picture.url, :class => "gutter-0 border-only demo w3-opacity w3-hover-opacity-off", size: "80x60", :onClick => "currentDiv(6)" %>
                <% end %>
              <% end %>  
            <% end %>
          <% end %>
        <% end %>
        <% mm = mm + 1 %>
      <% end %>
      <br><br>
    </div>

    <script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function currentDiv(n) {
      showDivs(slideIndex = n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-opacity-off";
    }
    </script>
  </div> <!--end of sm-8-->
   
  <div class='row'> 
    <div class='col-sm-4'><br>
      <div class="well well-lg">
          <% if @article.user %>
            <div align="center">
              <% if current_user && current_user == @article.user || current_user && current_user.admin? %>
                <%= gravatar_for @article.user, size:120 %>
              <% else %>
                <%= gravatar_for @article.user, size:120 %>
              <% end %>
              <br><br>
              <h3><%= @article.user.name %></h3>
              <%= @article.user.company %><br>
              Id: <%= @article.user.agentno %><br>
        
              Tel: <%= @article.user.telephone %><br>
              Email: <%= link_to @article.user.email, "mailto:"+@article.user.email %><br>          
              <!--Listings: <%#= link_to pluralize(@article.user.articles.count, "listing"), user_path(@article.user) if @article.user.articles %>--><br>
            </div>
          <% end %>
      </div>
    </div>      
  </div> 
  
</div>
<div class='row'> 
  <div class='col-sm-offset-0 col-sm-12'>
    <div class="well well-lg">

      <div class="form-group"> 
        <div align="right" class='col-sm-offset-0 col-sm-2'>          
          <%= "Category:" %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-10 gutter-0'>        
          <b><%= @article.category %> <%= @article.proptype %></b>
        </div>
      </div>
      
      <div class="form-group"> 
        <div align="right" class='col-sm-offset-0 col-sm-2'>          
          <%= "Location:" %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-3 gutter-0'>        
          <%= @area.name if @area.present? %>, <%= @region.name if @region.present?%>, <%= @place.name if @place.present?%>.
        </div>        
        <div align="right" class='col-sm-offset-0 col-sm-3'>  
          <%= "Bedrooms: " %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-3 gutter-0'>  
          <%= @article.bedroom %>&nbsp;
        </div>
      </div>
      
      <div class="form-group">       
        <div align="right" class='col-sm-offset-0 col-sm-2'>  
          <%= "Size:" %>
        </div>
        <div align="left"class='font-green col-sm-offset-0 col-sm-3 gutter-0'>   
          <%= @article.size %> 
            <%= "SqFt" if @article.uom == "3" %><%= "SqM" if @article.uom == "4" %><%= "Acres" if @article.uom == "5" %><%= "Hectres" if @article.uom == "6" %>
              (<%= number_with_precision(@article.size.to_i*0.092903, precision: 2, delimiter: ',') if @article.uom == "3" %><%= " SqM" if @article.uom == "3" %>
              <%= number_with_precision(@article.size.to_i*10.7639, precision: 2, delimiter: ',') if @article.uom == "4" and @article.size.present? %><%= " SqFt" if @article.uom == "4" %>
              )
        </div>
        <div align="right" class='col-sm-offset-0 col-sm-3'>  
          <%= "Bathrooms: " %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-3 gutter-0'> 
          <%= @article.bathroom %>&nbsp;
        </div>
      </div>
      
      <div class="form-group"> 
        <div align="right" class='col-sm-offset-0 col-sm-2'>  
          <%= "Amount:" %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-3 gutter-0'> 
          <%= @places.currency if @places.present? %> <%= number_with_precision(@article.amount, precision: 0, delimiter: ',') %>&nbsp;
        </div>
        <div align="right" class='col-sm-offset-0 col-sm-3'>  
          <%= "Other info:" %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-3 gutter-0'>         
          <%= @otherinfo.name if @otherinfo.present? %>&nbsp;
        </div>
        <div align="right" class='col-sm-offset-0 col-sm-12'>  
          <br>
        </div>
      </div>
      
      <div class="form-group"> 
        <div align="right" class='col-sm-offset-0 col-sm-2'>  
          <%= "Facilities:" %>
        </div>
        <div align="left"class='font-green col-sm-offset-0 col-sm-10 gutter-0'>         
              <%= "Lift/ Elevator, " if @article.xlift? %><%= "Swimming Pool, " if @article.xpool? %><%= "Squash Court, " if @article.xsqua? %>
              <%= "Playground, " if @article.xplay? %><%= "Balcony, " if @article.xbalc? %><%= "Gymnasium, " if @article.xgymn? %>
              <%= "Mini Market, " if @article.xmini? %><%= "Jogging Track, " if @article.xjogg? %><%= "Cable TV, " if @article.xcabl? %>
              <%= "Tennis Court, " if @article.xtenn? %><%= "Covered Car Park, " if @article.xpark? %>
              <%= "24 hours Security, " if @article.xsecu? %><%= "etc." %>
        </div>
      </div>
      
      <div class="form-group"> 
        <div align="right" class='col-sm-offset-0 col-sm-2'>  
          <%= "Description:" %>
        </div>
        <div align="left" class='font-green col-sm-offset-0 col-sm-10 gutter-0'> 
          <%= simple_format(@article.description) %>&nbsp;
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br>
    </div>
  </div> <!--end well-->
</div>
