<% if current_user.articles.count >= session[:m_posting] && !current_user.admin? %>
    <br><br><br><br><br><br><br><br><br>
    <h4 align="center"><%= "You have exceeded the number of ads permitted on your account!" %></h4>
    <br><br><br><br><br><br><br><br><br>
<% else %>
  <% if session[:mobile] == "Y" %>
    <div class='col-xs-offset-0 col-xs-12 gutter-0'>
      <div align = "left" class='article-title col-xs-7 gutter-0'>
        <% session[:step2] = "Insert a New Ad" %>
        <h5>Insert a New Ad</h5>
      </div>
      <div align = "right" class='article-title col-xs-5 gutter-0'>
        <h5><%= current_user.articles.count+1 %> of <%= session[:m_posting] %></h5>   
      </div>
    </div>
    <%= render 'mmform' %> 
  <% else %>
    <div class='col-xs-offset-0 col-xs-12 gutter-0'>
      <div align = "left" class='article-title col-xs-7 gutter-0'>
        <% session[:step2] = "Insert a New Ad" %>
        <h5>Insert a New Ad</h5>
      </div>
      <div align = "right" class='article-title col-xs-5 gutter-0'>
        <h5><%= current_user.articles.count+1 %> of <%= session[:m_posting] %></h5>   
      </div>
    </div>
    <%= render 'form' %> 
  <% end %>
<% end %>
