<% if current_user.articles.count >= session[:m_posting] && !current_user.admin? %>
    <br><br><br><br><br><br><br><br><br>
    <h4 align="center"><%= "You have exceeded the number of ads permitted on your account!" %></h4>
    <br><br><br><br><br><br><br><br><br>
<% else %>
  <% if session[:mobile] == "Y" %>
    <div class="container-fluid">
      <div class="row">
        <div class='article-title col-xs-12 gutter-0'>
          <div align="left" class="col-xs-6 gutter-0" >
            <% session[:step2] = "Insert a New Ad" %>
            <h5>&nbsp;Insert a New Ad</h5>
          </div>
          <div align="right" class="col-xs-6 gutter-0" >
            <h5><%= current_user.articles.count+1 %> of <%= session[:m_posting] %>&nbsp;</h5>   
          </div>
          <div class="col-xs-12 gutter-0" style="border-top: 1px solid #1d4d87"><br></div>
        </div>          
        <div class='col-xs-12'>      
          <%= render 'mmform' %> 
        </div>

      </div>
    </div>
  <% else %>
    <div class="container">
      <div class='row'> 
        <div class='col-sm-12 gutter-0'><br>
          <div align="left" class="latest col-sm-6 gutter-0" >
            <% session[:step2] = "Insert a New Ad" %>
            Insert a New Ad
          </div>
          <div align="right" class="latest col-sm-6 gutter-0" >
            <%= current_user.articles.count+1 %> of <%= session[:m_posting] %>   
          </div>
          <div class="latest col-sm-12 gutter-0"><hr></div>
        </div>
        <%= render 'form' %> 
      </div><br><br><br>
    </div>
  <% end %>
<% end %>
