<div class='row'> 
  <div class='col-sm-offset-0 col-sm-12'>
    <div class="well">
      <div class='gutter-0 col-sm-12 article-title'>
        <br>All Ads from <%#= @articles.user.name %><hr><br>
      </div>
        <%= render 'articles/mmarticle', obj: @articles %>
      <div align="left">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>

<div align="center" class='gutter-0 col-xs-12'>  
  <div class="btn btn-green">
    <span class='glyphicon glyphicon-envelope'></span><br>
    <%= link_to "Email Me".html_safe,"mailto:"+@articles.user.email, :id => "button_id" %>
  </div>
  <div class="btn btn-green">
    <span class='glyphicon glyphicon-phone-alt'></span><br>
    <%= link_to "Call Me".html_safe,"Tel:"+@articles.user.telephone, :id => "button_id" %>
  </div>
  <div class="btn btn-green">
    <span class='glyphicon glyphicon-list'></span><br>
    <%#= link_to pluralize(@article.user.articles.count, "listing").html_safe, user_path(@article.user), :id => "button_id"%> 
    <%= link_to pluralize(@articles.user.articles.count, "listing").html_safe, oneuser_show_path(:usr => params[:usr]), :id => "button_id"%> 
  </div>
</div> 