<%= render 'shared/errors', obj: @user %>
<div class='row'> 
  <div class='col-xs-12'>
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %> 


      <!-- Line 1: Email; Premier -->
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Email" %> 
        </div> 
        <div class="col-sm-4"> 
          <%#= @user.email %> 
          <%= f.text_field :email, class: "form-control", :disabled=>true %> 
          <%= hidden_field(:user, :email) %>
        </div> 
        <% if @user.status == 'Premier' %>
          <div align = "right" class="col-sm-2 btn btn-warning ">
            <%= "Premier Account" %>
          </div>
        <% end %>
      </div> 
      
      
      <!-- Line 2: Name; Telephone -->
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%="Agent Name" %> 
        </div> 
        <div class="col-sm-4"> 
          <%= f.text_field :name, class: "form-control", placeholder: "Agent Name", autofocus: true %>
          <% if logged_in? and !current_user.admin? %>
            <%= hidden_field(:user, :name) %>
          <% end %>          
        </div> 
        <div class="control-label col-sm-2"> 
          <%= "Telephone" %> 
        </div> 
        <div class="col-sm-4"> 
          <%= f.text_field :telephone, class: "form-control", placeholder: "Contact Number", autofocus: true %> 
        </div> 
      </div>
      
      
      <!-- Line 3: REN No; Agency name -->
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Agent/ REN No" %> 
        </div> 
        <div class="col-sm-4"> 
          <%= f.text_field :agentno, class: "form-control", placeholder: "", autofocus: true %>
          <% if logged_in? and !current_user.admin? %>
            <%= hidden_field(:user, :agentno) %>            
          <% end %>           
        </div> 
        <div class="control-label col-sm-2"> 
          <%= "Agency Name" %> 
        </div> 
        <div class="col-sm-4"> 
          <%= f.text_field :company, class: "form-control", placeholder: "Agency Name", autofocus: true %> 
        </div> 
      </div>
      
      
      <!-- Line 4: Country -->
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Default Country" %> 
        </div> 
        <div class="col-sm-4"> 
          <%= f.collection_select(:prefercountry, Place.where(status: true), :id, :name, {}, {:class => 'form-control'}) %>
        </div> 
        <div class="control-label col-sm-2"> 
          <%= "Default Area" %> 
        </div> 
        <div class="col-sm-2"> 
          <%= f.select :preferuom, options_for_select([['SqFt','3'],['SqM','4'],['Acres','5'],['Hectres','6']], @user.preferuom), {}, { class: "form-control" } %>
        </div> 
      </div> 
    
      <div id="container">
        <div id="middle">
          <div class="checkbox  col-sm-12">
            <div class="well">
                <% if @user.status != 'Premier' %>  
                  &nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :gold %><b>Negotiator's Upgrade</b><br><br>
                  &nbsp;&nbsp;<%= f.radio_button :m_gold, 'PayPal' %>&nbsp;&nbsp;<%= "Upgrade to Package #1 @ RM 350.00/ year for 25 concurrent Ads" %><br>
                  <!-- &nbsp;&nbsp;<%#= f.radio_button :m_gold, 'PayPal1' %>&nbsp;&nbsp;<%#= "Upgrade to Package #2 @ RM 550.00/ year for 55 concurrent Ads" %><br> -->
                  <br><br><%= image_tag("paypal.gif") %>
              <% end %> 
            </div>
          </div>
        </div><!--middle-->
        <div align="center" id="right"><br>
          <% if current_user && current_user == @user || current_user && current_user.admin? %>
            <%= gravatar_for @user, size:180 %><br><br>
            Profile from <%= link_to "http://gravatar.com", "http://gravatar.com" %><br>
          <% else %>
            <%= link_to image_tag("/assets/gprofile.gif", width: "100%"), "http://gravatar.com" %><br>
            <b>User Profile</b><br>Gravatar stands for Globally Recognized Avatar. It is globally recognized because millions of people and websites use them. 
            Most popular applications like WordPress have built-in support for Gravatar.
          <% end %>
        </div><!--right-->
      </div><!--container-->
      <!--
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%#= f.label :admin, "Administrator" %> 
        </div> 
        <div class="col-sm-8", class: "form-control" > 
            <%#= f.radio_button :admin, 'true' %> Yes&nbsp;&nbsp;&nbsp;
            <%#= f.radio_button :admin, 'false' %> No
        </div> 
      </div> -->


      <% if logged_in? and current_user.admin? %>
        <%# AJAX
        1. id and section id and id here
        2. customs.css.scss for comments-section
        3. comments.coffee
        %>
        <!--<p><%#= link_to "More Information", "#", id: "comments-link" %></p>
        <section id="comments-section">-->
          <div class="form-group"> 
            <div class="control-label col-sm-2"> 
              <%= "Last Signed-In" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :last_sign_in_at, class: "form-control", :disabled=>true %> 
            </div> 
            <div class="control-label col-sm-2"> 
              <%= "Now Signed-In" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :current_sign_in_at, class: "form-control", :disabled=>true %> 
            </div> 
          </div>
          
          <div class="form-group"> 
            <div class="control-label col-sm-2"> 
              <%= "Signed-In Count" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :sign_in_count, class: "form-control", :disabled=>true %> 
            </div> 
            <div class="control-label col-sm-2"> 
              <%= "Now Signed-In ip" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :current_sign_in_ip, class: "form-control", :disabled=>true %> 
            </div> 
          </div>
          
          <div class="form-group"> 
            <div class="control-label col-sm-2"> 
              <%= "Last Signed-In IP" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :last_sign_in_ip, class: "form-control", :disabled=>true %> 
            </div> 
            <div class="control-label col-sm-2"> 
              <%= "Created" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :created_at, class: "form-control", :disabled=>true %> 
            </div> 
          </div> 
          
          <div class="form-group"> 
            <div class="control-label col-sm-2"> 
              <%= "Confirmed" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :confirmed_at, class: "form-control", :disabled=>true %> 
            </div> 
            <div class="control-label col-sm-2"> 
              <%= "Updated" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :updated_at, class: "form-control", :disabled=>true %> 
            </div> 
          </div>
          
          <div class="form-group"> 
            <div class="control-label col-sm-2"> 
              <%= "Status" %> 
            </div> 
            <div class="col-sm-4"> 
          <%= f.select :status, options_for_select([['Basic-30',''],['Premier-100','Premier'],['Agency-1000','Agency']], @user.status), {}, { class: "form-control" } %>
            </div> 
            <div class="control-label col-sm-2"> 
              <%= "Purchase Date" %> 
            </div> 
            <div class="col-sm-4"> 
              <%= f.text_field :purchased_at, class: "form-control" %> 
            </div> 
          </div>
          
        <% end %>
        
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-3"> 
            <br><%= f.submit "Update Settings", class: 'btn btn-primary btn-block' %> 
            <%#= f.submit class: 'btn btn-primary btn-lg' %> 
            <%#= link_to "Change Password", edit_user_registration_path, class: 'btn btn-primary btn-lg' %>
          </div> 
        </div> 
      </section>
    <% end %> 
    <%#= gravatar_for current_user, size:200 %>
  
  </div> 
</div>