<%#= render 'shared/errors', obj: @user %>
<div class="container">
<div class="row">
<div class="col-sm-12 col-xs-12">
  
  <h2>Three Subscription Package available:</h2>
  <h5><i>Please choose one for new subscriber, or if your subscription has already expired.</i></h5>
  <br>
  
  <div class="carousel-inner">
  <div class="item active">
  <div class="row">

    <% session[:m_name] = current_user.name %>
    
    <div class="col-sm-4 col-xs-4 gutter-0">
      
      <% if Date.today > current_user.expiry_date && current_user.status? %>
        <%= link_to image_tag("/assets/P1 Premier.jpg", width: "100%"), new_checkout_path(:m_gold => "Premier") %> 
      <% else %>
        <img src="assets/P1 Premier.jpg" class="img-responsive">
      <% end %>
      
    </div>
    <div class="col-sm-4 col-xs-4 gutter-0">
      
      <% if Date.today > current_user.expiry_date && current_user.status? %> 
        <%= link_to image_tag("/assets/P2 Gold.jpg", width: "100%"), new_checkout_path(:m_gold => "Gold") %> 
      <% else %>
        <img src="assets/P2 Gold.jpg" class="img-responsive">
      <% end %>
      
    </div>
    <div class="col-sm-4 col-xs-4 gutter-0">
      
      <% if Date.today > current_user.expiry_date && current_user.status? %> 
        <%= link_to image_tag("/assets/P3 Platinum.jpg", width: "100%"), new_checkout_path(:m_gold => "Platinum") %> 
      <% else %>
        <img src="assets/P3 Platinum.jpg" class="img-responsive">
      <% end %>
     
    </div>
      
  </div>
  </div>
  </div>

  <br>
  
</div>
</div>
<div class="row">
<div class="col-sm-12 col-xs-12">
  
  <% if logged_in? %> 
    <% if current_user.status? %>
      <%= link_to 'Back', root_path, class: "btn btn-info" %>
    <% else %>
      <%= link_to 'Update your Subscription', edit_user_path(current_user.id), class: "btn btn-info" %>
    <% end %>
  <% end %>
   
  <br><br>
</div>
</div>
</div>