

<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
    <table width = 100% border="0">
      <tr>
        <td valign="bottom" width=33%>
          <h3><%= @user.name %></h3>
          Agency Name: <%= @user.company %><br>
          Agent Id: <%= @user.agentno %>
        </td>
        <td align = "center">

            <% if current_user && current_user == @user || current_user && current_user.admin? %>
              <%= gravatar_for @user, size:120 %>
            <% else %>
              <%= gravatar_for @user, size:120 %>
            <% end %>

        </td>
        <td valign="bottom" width=33% align="right">
          <%= @user.telephone %> <span class='glyphicon glyphicon-earphone'></span><br>
          <%= link_to @user.email, "mailto:"+@user.email %> <span class='glyphicon glyphicon-envelope'></span><br>          
        </td>
      </tr>
    </table><hr>
      <%#= 'Payment Status: ' %><%#= params[:payment_status] %>
      <%#= ' | Payment Date: ' %><%#= params[:payment_date] %>      
      <%# = ' | Txn Id: ' %><%#= params[:txn_id] %> 
      <%= render 'articles/article', obj: @user_articles %>
      <div align="left">
        <%= will_paginate @user_articles %>
      </div>
    </div>
  </div>
</div>  