<!--<%#= "XXX" %><%#= session[:mpage] %><%#= "XXX" %>-->
<div class='row'> 
  <div class='col-xs-offset-0 col-xs-12 gutter-0'>
    <div class="well" >
      <%= form_tag welcome_mmindex_path, :method => "get", id: "search-form", :class => "form-horizontal project" , :enforce_utf8 => false do %>

        <div class="form-group gutter-0"> 
          <div class="col-xs-12 btn-group gutter-0" data-toggle="buttons">
            <!--<%#= radio_button_tag 'proptype', '', checked = true %> All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <% if params[:proptype] == 'for Sale' %>
              <label class="btn btn-primary btn-sm active">
                <%= radio_button_tag 'proptype', 'for Sale', checked = true if params[:proptype] == 'for Sale' %> For Sale
              </label>
            <% else %>
              <label class="btn btn-primary btn-sm">
                <%= radio_button_tag 'proptype', 'for Sale', checked = true %>
                <%#= radio_button_tag 'proptype', 'for Sale'%> For Sale
              </label>
            <% end %>

            <% if params[:proptype] == 'for Rent' %>
              <label class="btn btn-primary btn-sm active">
                <%= radio_button_tag 'proptype', 'for Rent', checked = true if params[:proptype] == 'for Rent' %> For Rent
              </label>
            <% else %>
              <label class="btn btn-primary btn-sm">
                <%= radio_button_tag 'proptype', 'for Rent' %> For Rent
              </label>
            <% end %>

            <% if params[:proptype] == 'for Auction' %>
              <label class="btn btn-primary btn-sm active">
                <%= radio_button_tag 'proptype', 'for Auction', checked = true if params[:proptype] == 'for Auction' %> For Auction
              </label>
            <% else %>
              <label class="btn btn-primary btn-sm">
                <%= radio_button_tag 'proptype', 'for Auction' %> For Auction
              </label>
            <% end %>
            
            <% if params[:proptype] == 'new Launch' %>
              <label class="btn btn-primary btn-sm active">
                <%= radio_button_tag 'proptype', 'new Launch', checked = true if params[:proptype] == 'new Launch' %> New Launch
              </label>
            <% else %>
              <label class="btn btn-primary btn-sm">
                <%= radio_button_tag 'proptype', 'new Launch' %> New Launch
              </label>
            <% end %>
          </div>
        </div> 
        
        <!--Search titles & descriptions-->
        <div class="form-group form-group-sm">
          <div class="col-xs-12 gutter-0">
            Search titles & descriptions:<br>
            <%= text_field_tag :search, params[:search], placeholder: "Search titles & descriptions", class: 'form-control' %>
          </div>
        </div>

        <%# if @places_for_dropdown.count.to_i == 1 %>
          <!--<div class="form-group form-group-sm">        -->
          <!--  <div class="col-xs-6 gutter-0">         -->
          <!--    <%#= select("place", "name", options_for_select(@places_for_dropdown, @places_for_dropdown.first), {}, {class: 'form-control'}) %>            -->
          <!--  </div> -->
          <!--</div>-->
        <%# else %>
          <div class="form-group form-group-sm">        
            <div class="col-xs-4 gutter-0"> 
            
              <!-- HIDE search by COUNTRY -->
              <% if params[:place].present? %>
                <%= select("place", "name", options_for_select(@places_for_dropdown, :selected => params[:place][:name] ),
                  {prompt: 'Select country'}, {class: 'form-control'}) %>
                <% else if current_user.present? %>
                    <%= select("place", "name", options_for_select(@places_for_dropdown, current_user.prefercountry), {prompt: 'Select country'}, {class: 'form-control'}) %>            
                  
                  
                  <% else if @places_for_dropdown.count.to_i == 1 %>
                      <%= select("place", "name", options_for_select(@places_for_dropdown, @places_for_dropdown.first), {prompt: 'Select country'}, {class: 'form-control'}) %>            
                    <% else%>
                      <%= select("place", "name", options_for_select(@places_for_dropdown), {prompt: 'Select country'}, {class: 'form-control'}) %>            
                  <% end %>
                <% end %>
              <% end %>
              <!-- END search by COUNTRY -->
              
            </div> 
          <!--</div>-->
        <%# end %>
        
        <!--<div class="form-group form-group-sm">          -->
          <div class="col-xs-4 gutter-0"> 
            <% if params[:region].present? %>
              <%= select("region", "name", options_for_select(@regions_for_dropdown.sort, :selected => params[:region][:name] ),
                {prompt: 'All regions'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("region", "name", options_for_select(@regions_for_dropdown.sort), 
                {prompt: 'All regions '}, {class: 'form-control'}) %>
            <% end %>
          </div> 
          <div class="col-xs-4 gutter-0"> 
            <% if params[:area].present? %>
              <%= select("area", "name", options_for_select(@areas_for_dropdown.sort, :selected => params[:area][:name] ),
                {prompt: 'All areas'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("area", "name", options_for_select(@areas_for_dropdown.sort), 
                {prompt: 'All areas'}, {class: 'form-control'}) %>            
            <% end %>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <div class="col-xs-offset-0 col-xs-4 gutter-0">  
            <% if params[:category].present? %>
              <%= select_tag(:category, options_for_select([['Category:',''], ['Flat','Flat'],['Townhouse','Townhouse'],['Condominium','Condominium'],['Serviced Apartment','Serviced Apartment'],
              ['Terrace house','Terrace house'],['Semi D','Semi D'],['Bungalow','Bungalow'],['Villa','Villa'],['Office','Office'],['Retail','Retail'],['Shoplot','Shoplot'],
              ['Factory','Factory'],['Warehouse','Warehouse'],['Agricultural Land','Agricultural Land'],['Residential Land','Residential Land'],['Commercial Land','Commercial Land'],
              ['Industrial Land','Industrial Land']], :selected => params[:category] ),
              {class: 'form-control'}) %><!-- without class, looks better -->
            <% else %>
              <%= select_tag(:category, options_for_select([['Category:',''], ['Flat','Flat'],['Townhouse','Townhouse'],['Condominium','Condominium'],['Serviced Apartment','Serviced Apartment'],
              ['Terrace house','Terrace house'],['Semi D','Semi D'],['Bungalow','Bungalow'],['Villa','Villa'],['Office','Office'],['Retail','Retail'],['Shoplot','Shoplot'],
              ['Factory','Factory'],['Warehouse','Warehouse'],['Agricultural Land','Agricultural Land'],['Residential Land','Residential Land'],['Commercial Land','Commercial Land'],
              ['Industrial Land','Industrial Land']]),
              {class: 'form-control'}) %>          
            <% end %>
          </div>

          <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
            <% if params[:furnishing].present? %>
              <%= select_tag(:furnishing, options_for_select([['All Furnishing',''], ['Bare','Bare'],['Semi','Semi'],['Full','Full']], :selected => params[:furnishing] ),
              {class: 'form-control'}) %> 
            <% else %>
              <%= select_tag(:furnishing, options_for_select([['All Furnishing',''], ['Bare','Bare'],['Semi','Semi'],['Full','Full']]),
              {class: 'form-control'}) %>       
            <% end %>
          </div> 
          <div class="col-xs-4 gutter-0"> 
            <% if params[:zoning].present? %>
              <%= select_tag(:zoning, options_for_select([['All Zoning',''], ['Agricultural','Agricultural'],['Residential','Residential'],['Commercial','Commercial'],['Industrial','Industrial']], :selected => params[:zoning] ),
              {class: 'form-control'}) %> 
            <% else %>
              <%= select_tag(:zoning, options_for_select([['All Zoning',''], ['Agricultural','Agricultural'],['Residential','Residential'],['Commercial','Commercial'],['Industrial','Industrial']]),
              {class: 'form-control'}) %>       
            <% end %>
          </div>            
        </div>            
            

        <div class="form-group form-group-sm">
          <div class="col-xs-offset-0 col-xs-4 gutter-0">  
            <% if params[:titletype].present? %>
              <%= select_tag(:titletype, options_for_select([['Title type:',''], ['Freehold','Freehold'],['Leasehold','Leasehold']], :selected => params[:titletype] ),
              {class: 'form-control'}) %>
            <% else %>
              <%= select_tag(:titletype, options_for_select([['Title type:',''], ['Freehold','Freehold'],['Leasehold','Leasehold']]),
              {class: 'form-control'}) %>          
            <% end %>
          </div>   
          <div class="col-xs-4 gutter-0"> 
            <% if params[:otherinfo].present? %>
              <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown, :selected => params[:otherinfo][:name] ), 
                {prompt: 'All Others'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown), {prompt: 'Others'}, {class: 'form-control'}) %>  
              <%#= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown, :selected => @otherinfos_for_dropdown.last), {prompt: 'All Others'}, {class: 'form-control'}) %> 
            <% end %>
          </div> 
          <div class="col-xs-4 gutter-0"> 
            <% if params[:lot].present? %>
              <%= select_tag(:lot, options_for_select([['All Lot',''], ['Intermediate','Intermediate'],['Endlot','Endlot'],['Corner','Corner']], :selected => params[:lot] ),
              {class: 'form-control'}) %> 
            <% else %>
              <%= select_tag(:lot, options_for_select([['All Lot',''], ['Intermediate','Intermediate'],['Endlot','Endlot'],['Corner','Corner']]),
              {class: 'form-control'}) %>       
            <% end %>
          </div>           
        </div>           

        
        <div class="form-group form-group-sm">        
          <!--<div class="col-xs-2 gutter-0">
            <%#= submit_tag("Reset Search", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-info1" }) %>
          </div>-->
          <div align="right" class="col-xs-12 gutter-0"><br>
            <%= link_to "Extended Search&nbsp;&nbsp;<span class='glyphicon glyphicon-circle-arrow-down'></span>".html_safe, "#", id: "comments-link" %>          
          </div>
        </div>
        
<!--Section-->
        <section id="comments-section">
          
          <div class="form-group form-group-sm">
            <div align="right" id="column-content" class="control-label col-xs-4 gutter-0"> 
              <span><%= "Price:" %>&nbsp;</span>
            </div>
            
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :amtFR, params[:amtFR], min: 0, max: 10000000, :step => '50', class: "form-control number", placeholder: "Min" %>
              <%# if params[:chainb].present? %>
                <%#= select("chainb", "price", options_for_select(@pricemin_for_dropdown, :selected => params[:chainb][:price] ),
                  {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainb", "price", options_for_select(@pricemin_for_dropdown), {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# end %>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :amtTO, params[:amtTO], min: 0, max: 10000000, :step => '50', class: "form-control number", placeholder: "Max" %>
              <%# if params[:chainc].present? %>
                <%#= select("chainc", "price", options_for_select(@pricemax_for_dropdown, :selected => params[:chainc][:price] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainc", "price", options_for_select(@pricemax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <%# end %>
            </div>
          </div>
          
          <div class="form-group form-group-sm">
            <!--<div align="right" class="control-label col-xs-offset-0 col-xs-4">-->
            <div align="right" id="column-content" class="control-label col-xs-4 gutter-0"> 
              <span><%= "Rooms:" %>&nbsp;</span>
            </div>
            <div class="col-xs-4 gutter-0"> 
              <%= number_field_tag :roomFR, params[:roomFR], min: 0, max: 100, :step => 'any', class: "form-control number", placeholder: "Min" %>
              <%# if params[:chainb].present? %>
                <%#= select("chainb", "name", options_for_select(@roomsmin_for_dropdown, :selected => params[:chainb][:name] ),
                  {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainb", "name", options_for_select(@roomsmin_for_dropdown), {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# end %>
            </div>
            <div class="col-xs-4 gutter-0"> 
              <%= number_field_tag :roomTO, params[:roomTO], min: 0, max: 100, :step => 'any', class: "form-control number", placeholder: "Max" %>
              <%# if params[:chainc].present? %>
                <%#= select("chainc", "name", options_for_select(@roomsmax_for_dropdown, :selected => params[:chainc][:name] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainc", "name", options_for_select(@roomsmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <%# end %>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <div align="right" id="column-content" class="control-label col-xs-offset-0 col-xs-4 gutter-0"> 
              <span><%= "Baths:" %>&nbsp;</span>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :bathFR, params[:bathFR], min: 0, max: 100, :step => 'any', class: "form-control number", placeholder: "Min" %>
              <%# if params[:chainb].present? %>
                <%#= select("chainb", "bath", options_for_select(@roomsmin_for_dropdown, :selected => params[:chainb][:bath] ),
                  {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainb", "bath", options_for_select(@roomsmin_for_dropdown), {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# end %>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :bathTO, params[:bathTO], min: 0, max: 100, :step => 'any', class: "form-control number", placeholder: "Max" %>
              <%# if params[:chainc].present? %>
                <%#= select("chainc", "bath", options_for_select(@roomsmax_for_dropdown, :selected => params[:chainc][:bath] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainc", "bath", options_for_select(@roomsmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <%# end %>
            </div>
          </div>


          
          <!--<div class="form-group form-group-sm"> -->
          <!--  <div align="right" id="column-content"  class="control-label col-xs-offset-0 col-xs-8 gutter-0"> -->
          <!--    <span><%#= "Unit of Measurement:" %>&nbsp;</span>-->
          <!--  </div>-->
          <!--  <div class="col-xs-offset-0 col-xs-4 gutter-0"> -->
            <div id="idUOM" class="control-label hidden_field"> 
            
              <%= select("chaina", "uom", options_for_select(@uoms_for_dropdown, @uoms_for_dropdown.first), {}, {class: 'form-control'}) %> 
            
              <!--<%# if params[:chaina].present? %>-->
              <!--  <%#= select("chaina", "uom", options_for_select(@uoms_for_dropdown, :selected => params[:chaina][:uom] ),-->
              <!--    {prompt: 'UOM'}, {class: 'form-control'}) %>-->
              <!--  <%# else if current_user.present? %>-->
              <!--      <%#= select("chaina", "uom", options_for_select(@uoms_for_dropdown, current_user.preferuom), {prompt: 'UOM'}, {class: 'form-control'}) %>            -->
              <!--    <%# else %>-->
              <!--      <%#= select("chaina", "uom", options_for_select(@uoms_for_dropdown), {prompt: 'UOM'}, {class: 'form-control'}) %>            -->
              <!--  <%# end %>-->
              <!--<%# end %>-->
            </div>  
          <!--</div>-->
          
          <div class="form-group form-group-sm">
            <div align="right" id="column-content" class="control-label col-xs-offset-0 col-xs-4 gutter-0"> 
              <span><%= "Land size:" %>&nbsp;</span>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :landFR, params[:landFR], min: 0, max: 10000, :step => 'any', class: "form-control number", placeholder: "Min" %>
              <%# if params[:chainb].present? %>
                <%#= select("chainb", "landarea", options_for_select(@buildupmin_for_dropdown, :selected => params[:chainb][:landarea] ),
                  {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainb", "landarea", options_for_select(@buildupmin_for_dropdown), {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# end %>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :landTO, params[:landTO], min: 0, max: 10000, :step => 'any', class: "form-control number", placeholder: "Max" %>
              <%# if params[:chainc].present? %>
                <%#= select("chainc", "landarea", options_for_select(@buildupmax_for_dropdown, :selected => params[:chainc][:landarea] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainc", "landarea", options_for_select(@buildupmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <%# end %>
            </div> 
          </div>

          <div class="form-group form-group-sm">            
            <div align="right" id="column-content" class="control-label col-xs-offset-0 col-xs-4 gutter-0"> 
              <span><%= "Built-up area:" %>&nbsp;</span>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :builtFR, params[:builtFR], min: 0, max: 10000, :step => 'any', class: "form-control number", placeholder: "Min" %>
              <%# if params[:chainb].present? %>
                <%#= select("chainb", "buildup", options_for_select(@buildupmin_for_dropdown, :selected => params[:chainb][:buildup] ),
                  {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainb", "buildup", options_for_select(@buildupmin_for_dropdown), {prompt: 'Min'}, {class: 'form-control'}) %>
              <%# end %>
            </div>
            <div class="col-xs-offset-0 col-xs-4 gutter-0"> 
              <%= number_field_tag :builtTO, params[:builtTO], min: 0, max: 10000, :step => 'any', class: "form-control number", placeholder: "Max" %>
              <%# if params[:chainc].present? %>
                <%#= select("chainc", "buildup", options_for_select(@buildupmax_for_dropdown, :selected => params[:chainc][:buildup] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <%# else %>
                <%#= select("chainc", "buildup", options_for_select(@buildupmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <%# end %>
            </div>
          </div>
          
        </section>
        
        <div class="form-group form-group-sm"> 
          <div class="col-xs-12 gutter-0"><br>
            <%= submit_tag "SEARCH", :name => nil, :class => "btn btn-primary btn-block" %>
          </div>     
        </div>
      <% end %>
    </div> <!--/well-->
  </div>
</div>