<!--<%#= "XXX" %><%#= session[:mpage] %><%#= "XXX" %>-->
<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well" >
      <%= form_tag root_path, :method => "get", id: "search-form", :class => "form-horizontal project" , :enforce_utf8 => false do %>
        
        <!--Search titles & descriptions-->
        <div class="form-group">
          <div class="col-sm-10">
            <%= text_field_tag :search, params[:search], placeholder: "Search titles & descriptions", class: 'form-control' %>
          </div>
          <div class="col-sm-offset-0 col-sm-1">
            <%= submit_tag "Search!", :name => nil %>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-3"> 

            <!-- HIDE search by COUNTRY -->
            <% if params[:place].present? %>
              <%= select("place", "name", options_for_select(@places_for_dropdown, :selected => params[:place][:name] ),
                {prompt: 'Select country'}, {class: 'form-control'}) %>
              <% else if current_user.present? %>
                 <%if @places_for_dropdown.count.to_i == 1 %>
                   <%= select("place", "name", options_for_select(@places_for_dropdown, @places_for_dropdown.first), {}, {class: 'form-control'}) %>                  
                 <% else %>
                   <%= select("place", "name", options_for_select(@places_for_dropdown, current_user.prefercountry), {prompt: 'Select country'}, {class: 'form-control'}) %>            
                  <% end %>
                <% else if @places_for_dropdown.count.to_i == 1 %>
                   <%= select("place", "name", options_for_select(@places_for_dropdown, @places_for_dropdown.first), {}, {class: 'form-control'}) %>            
                <% else%>
                  <%= select("place", "name", options_for_select(@places_for_dropdown), {prompt: 'Select country'}, {class: 'form-control'}) %>            
                <% end %>
              <% end %>
            <% end %>
            <!-- END search by COUNTRY -->

          </div> 
          <!-- Regions table = STATES: Selangor -->
          <div class="col-sm-3"> 
            <% if params[:region].present? %>
              <%= select("region", "name", options_for_select(@regions_for_dropdown, :selected => params[:region][:name] ),
                {prompt: 'All regions'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("region", "name", options_for_select(@regions_for_dropdown), 
                {prompt: 'All regions '}, {class: 'form-control'}) %>
            <% end %>
          </div> 
          
          <!-- areas table = USJ -->
          <div class="col-sm-3"> 
            <% if params[:area].present? %>
              <%= select("area", "name", options_for_select(@areas_for_dropdown, :selected => params[:area][:name] ),
                {prompt: 'All areas'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("area", "name", options_for_select(@areas_for_dropdown), 
                {prompt: 'All areas'}, {class: 'form-control'}) %>            
            <% end %>
          </div> 
        </div>
        <!--------- dont use input-sm; use zoom to decide --------------------------->
        <div class="form-group">
          <div class="col-sm-offset-0 col-sm-3"> 
            <!--<select class="form-control" name="category" id="category">-->
            <!--  <option value="">All category</option>-->
            <!--  <%# if params[:category].present? %>-->
            <!--    <option value=<%#= params[:category] %> selected="selected"><%#= params[:category] %></option>-->
            <!--  <%# end %>-->
            <!--  <option value="Flat">Flat</option>-->
            <!--  <option value="Townhouse">Townhouse</option>-->
            <!--  <option value="Condominium">Condominium</option>-->
            <!--  <option value="Serviced Apartment">Serviced Apartment</option>-->
            <!--  <option value="Terrace house">Terrace house</option>-->
            <!--  <option value="Semi D">Semi D</option>-->
            <!--  <option value="Bungalow">Bungalow</option>-->
            <!--  <option value="Villa">Villa</option>-->
            <!--  <option value="Office">Office</option>-->
            <!--  <option value="Retail">Retail</option>-->
            <!--  <option value="Shoplot">Shoplot</option>-->
            <!--  <option value="Factory">Factory</option>-->
            <!--  <option value="Warehouse">Warehouse</option>-->
            <!--  <option value="Agricultural Land">Agricultural Land</option>-->
            <!--  <option value="Residential Land">Residential Land</option>-->
            <!--  <option value="Commercial Land">Commercial Land</option>-->
            <!--  <option value="Industrial Land">Industrial Land</option>-->
            <!--</select> -->
            <% if params[:category].present? %>
              <%= select_tag(:category, options_for_select([['Category:',''], ['Flat','Flat'],['Townhouse','Townhouse'],['Condominium','Condominium'],['Serviced Apartment','Serviced Apartment'],
              ['Terrace house','Terrace house'],['Semi D','Semi D'],['Bungalow','Bungalow'],['Villa','Villa'],['Office','Office'],['Retail','Retail'],['Shoplot','Shoplot'],
              ['Factory','Factory'],['Warehouse','Warehouse'],['Agricultural Land','Agricultural Land'],['Residential Land','Residential Land'],['Commercial Land','Commercial Land'],
              ['Industrial Land','Industrial Land']], :selected => params[:category] ),
              {class: 'form-control'})%>     <!-- without class, looks better -->
            <% else %>
              <%= select_tag(:category, options_for_select([['Category:',''], ['Flat','Flat'],['Townhouse','Townhouse'],['Condominium','Condominium'],['Serviced Apartment','Serviced Apartment'],
              ['Terrace house','Terrace house'],['Semi D','Semi D'],['Bungalow','Bungalow'],['Villa','Villa'],['Office','Office'],['Retail','Retail'],['Shoplot','Shoplot'],
              ['Factory','Factory'],['Warehouse','Warehouse'],['Agricultural Land','Agricultural Land'],['Residential Land','Residential Land'],['Commercial Land','Commercial Land'],
              ['Industrial Land','Industrial Land']]),
              {class: 'form-control'})%>            
              <!--{ :class => 'span3 controls controls-row' }) -->           
            <% end %>
          </div>           
          <div align="left" class="checkbox col-sm-7"> 
            <!--<%#= radio_button_tag 'proptype', '', checked = true %> All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <% if params[:proptype] == 'for Sale' %>
              <%= radio_button_tag 'proptype', 'for Sale', checked = true if params[:proptype] == 'for Sale' %> For sale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% else %>
              <%#= radio_button_tag 'proptype', 'for Sale', checked = true %>
              <%= radio_button_tag 'proptype', 'for Sale'%> For Sale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
            <% if params[:proptype] == 'for Rent' %>
              <%= radio_button_tag 'proptype', 'for Rent', checked = true if params[:proptype] == 'for Rent' %> For rent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% else %>
              <%= radio_button_tag 'proptype', 'for Rent' %> For Rent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
            <% if params[:proptype] == 'for Auction' %>
              <%= radio_button_tag 'proptype', 'for Auction', checked = true if params[:proptype] == 'for Auction' %> For auction&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% else %>
              <%= radio_button_tag 'proptype', 'for Auction' %> For Auction&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
            <% if params[:proptype] == 'new Launch' %>
              <%= radio_button_tag 'proptype', 'new Launch', checked = true if params[:proptype] == 'new Launch' %> New Launch
            <% else %>
              <%= radio_button_tag 'proptype', 'new Launch' %> New Launch
            <% end %>
          </div>

        </div>


        <div class="form-group">
          <div class="col-sm-offset-0 col-sm-3"> 
            <!--<select class="form-control" name="titletype" id="titletype">-->
            <!--  <option value="">Title type</option>-->
            <!--  <%# if params[:titletype].present? %>-->
            <!--    <option value=<%#= params[:titletype] %> selected="selected"><%#= params[:titletype] %></option>-->
            <!--  <%# end %>-->
            <!--  <option value="Freehold">Freehold</option>-->
            <!--  <option value="Leasehold">Leasehold</option>-->
            <!--</select> -->
            <% if params[:titletype].present? %>
              <%= select_tag(:titletype, options_for_select([['Title type:',''], ['Freehold','Freehold'],['Leasehold','Leasehold']], :selected => params[:titletype] ),
              {class: 'form-control'}) %><!-- without class, looks better -->
            <% else %>
              <%= select_tag(:titletype, options_for_select([['Title type:',''], ['Freehold','Freehold'],['Leasehold','Leasehold']]),
              {class: 'form-control'}) %>          
            <% end %>
          </div>  
          <div class="col-sm-3"> 
            <% if params[:otherinfo].present? %>
              <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown, :selected => params[:otherinfo][:name] ), 
                {prompt: 'Others'}, {class: 'form-control'}) %>
            <% else %>
              <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown), {prompt: 'Others'}, {class: 'form-control'}) %>            
            <% end %>
          </div> 
          <div align="right" class="col-sm-offset-3 checkbox col-sm-3"> 
            <%= link_to "Extended Search&nbsp;&nbsp;<span class='glyphicon glyphicon-circle-arrow-down'></span>".html_safe, "#", id: "comments-link" %>          
          </div>
        </div>


        <!---------EXTENDED SEARCH---------------------------------------------------------------------------------------------------------->
        
        <section id="comments-section">
          <div class="form-group">
            
            <!-------- row: Rooms: ------------------------------------------------------------------------------------->
            <!--<div class="control-label col-sm-offset-0 col-sm-2">  
            <!--  <%# "Rooms:" %>-->
            <!--</div>-->
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainb].present? %>
                <%= select("chainb", "name", options_for_select(@roomsmin_for_dropdown, :selected => params[:chainb][:name]),
                  {prompt: 'Rooms: Min'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainb", "name", options_for_select(@roomsmin_for_dropdown), {prompt: 'Rooms: Min'}, {class: 'form-control'}) %>
              <% end %>
            </div>
            <!--<div class="guion">-</div>-->
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainc].present? %>
                <%= select("chainc", "name", options_for_select(@roomsmax_for_dropdown, :selected => params[:chainc][:name]), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainc", "name", options_for_select(@roomsmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <% end %>
            </div>

            <div class="control-label col-sm-offset-0 col-sm-2"> 
              <%= "Measurement:" %>
            </div>
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chaina].present? %>
                <%= select("chaina", "uom", options_for_select(@uoms_for_dropdown, :selected => params[:chaina][:uom] ),
                  {prompt: 'UOM'}, {class: 'form-control'}) %>
                <% else if current_user.present? %>
                    <%= select("chaina", "uom", options_for_select(@uoms_for_dropdown, current_user.preferuom), {prompt: 'Unit type'}, {class: 'form-control'}) %>            
                  <% else %>
                    <%= select("chaina", "uom", options_for_select(@uoms_for_dropdown), {prompt: 'Unit type'}, {class: 'form-control'}) %>            
                <% end %>
              <% end %>
            </div>  
          </div>
          
          
          <!-------- row: Baths: ------------------------------------------------------------------------------------->
          <div class="form-group">
            <!--<div class="control-label col-sm-offset-0 col-sm-2">  
            <!--  <%# "Baths:" %>-->
            <!--</div>-->
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainb].present? %>
                <%= select("chainb", "bath", options_for_select(@roomsmin_for_dropdown, :selected => params[:chainb][:bath] ),
                  {prompt: 'Baths: Min'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainb", "bath", options_for_select(@roomsmin_for_dropdown), {prompt: 'Baths: Min'}, {class: 'form-control'}) %>
              <% end %>
            </div>
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainc].present? %>
                <%= select("chainc", "bath", options_for_select(@roomsmax_for_dropdown, :selected => params[:chainc][:bath] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainc", "bath", options_for_select(@roomsmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <% end %>
            </div>

            <!--<div class="control-label col-sm-offset-0 col-sm-2">  
            <!--  <%# "Land size:" %>-->
            <!--</div>-->
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainb].present? %>
                <%= select("chainb", "landarea", options_for_select(@buildupmin_for_dropdown, :selected => params[:chainb][:landarea] ),
                  {prompt: 'Size: Min'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainb", "landarea", options_for_select(@buildupmin_for_dropdown), {prompt: 'Size: Min'}, {class: 'form-control'}) %>
              <% end %>
            </div>
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainc].present? %>
                <%= select("chainc", "landarea", options_for_select(@buildupmax_for_dropdown, :selected => params[:chainc][:landarea] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainc", "landarea", options_for_select(@buildupmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <% end %>
            </div> 
          </div>

          
          <!-------- row: Prices: ------------------------------------------------------------------------------------->
          <div class="form-group">
            <!--<div class="control-label col-sm-offset-0 col-sm-2">  
            <!--  <%# "Price:" %>-->
            <!--</div>-->
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainb].present? %>
                <%= select("chainb", "price", options_for_select(@pricemin_for_dropdown, :selected => params[:chainb][:price] ),
                  {prompt: 'Price: Min'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainb", "price", options_for_select(@pricemin_for_dropdown), {prompt: 'Price: Min'}, {class: 'form-control'}) %>
              <% end %>
            </div>
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainc].present? %>
                <%= select("chainc", "price", options_for_select(@pricemax_for_dropdown, :selected => params[:chainc][:price] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainc", "price", options_for_select(@pricemax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <% end %>
            </div>
            
            <!--<div class="control-label col-sm-offset-0 col-sm-2">  
            <!--  <%#= "Built-up area:" %>-->
            <!--</div>-->
           <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainb].present? %>
                <%= select("chainb", "buildup", options_for_select(@buildupmin_for_dropdown, :selected => params[:chainb][:buildup] ),
                  {prompt: 'Built: Min'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainb", "buildup", options_for_select(@buildupmin_for_dropdown), {prompt: 'Built: Min'}, {class: 'form-control'}) %>
              <% end %>
            </div>
            <div class="col-sm-offset-0 col-sm-2"> 
              <% if params[:chainc].present? %>
                <%= select("chainc", "buildup", options_for_select(@buildupmax_for_dropdown, :selected => params[:chainc][:buildup] ), 
                  {prompt: 'Max'}, {class: 'form-control'}) %>
              <% else %>
                <%= select("chainc", "buildup", options_for_select(@buildupmax_for_dropdown), {prompt: 'Max'},
                  {class: 'form-control'}) %>            
              <% end %>
            </div>

          </div>
          
        </section>
      <% end %>
    </div>
  </div>
  
</div>