<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'mmsearch' %>
      <!--<div align="left" class='col-sm-8 gutter-0'>
        Your search criteria,
        <%#= params[:category] if params[:category].present? %> <%#= params[:proptype] if params[:proptype].present? %>
        returns
        <%#= @articles.count if @articles%> records.<br><br><bR>
      </div>-->
      <%= render 'articles/mmarticle', obj: @articles %>
      <div align="center" class= "gutter-0">
        <%= will_paginate @articles %>
      </div>
      <div class="row">
        <div class="col-xs-12 gutter-0" align="center">
          <h4><%= "Advertising" %></h4>
          <%#= image_tag("500x1000.gif", width: '100%') %>
          <%= link_to image_tag("/assets/LM Main Side Ad.jpg", width: "100%"), new_user_registration_path %>
        </div>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-xs-12 gutter-0" align="center">
          <h2><b>Where now?</b></h2>
          <h4><b>Found this useful? Share it:</b></h4><br>
          <%= link_to image_tag("facebook.gif"), "https://www.facebook.com/sharer.php?u=http://www.http://sssssb.comy/" %>&nbsp;&nbsp;
          <%= link_to image_tag("twitter.gif"), "https://twitter.com/login?redirect_after_login=%2Fhome%3Fstatus%3DCurrently%2520reading%2520http%3A%2F%2Fwww.srsp.edu.my" %>&nbsp;&nbsp;
          <%= link_to image_tag("google.gif"), "https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/share?url%3Dhttp://www.sssssb.com%26gpsrc%3Dgplp0&btmpl=popup#identifier" %>&nbsp;&nbsp;
          <%= image_tag("whatsapp.gif") %>
        </div>
      </div>
      <br><br><br><br><br><br>
    </div>
  </div>
</div>