<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div ><br>
      <%= form_for(@area) do |f| %>
        <div class="control-label col-sm-2">  
          <%= f.text_field :name %>
        </div>
        <%= hidden_field_tag 'm_region_id', params[:m_region_id] %>
        <%= hidden_field_tag 'region_name', params[:region_name] %>
        <%= hidden_field_tag 'm_place_id', params[:m_place_id] %>        
        <%= hidden_field_tag 'country_name', params[:country_name] %>        
        <div class="col-sm-offset-1 col-sm-3"> 
          <%= f.submit %> 
        </div> <br><br>
      <% end %>
    </div>
  </div>
</div>