<!--<h4 align="center"><%#=link_to "Countries", new_place_path%> > <%= params[:country_name] %></h4>
<#%= render 'form' %>
<%#= render 'region', obj: @regions %>
<%# if current_user.email == "lowseng@yahoo.com" %>
  <%#= render 'rawregion', obj: @rawregions %>
<%# end %>-->

<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <h4 align="center"><%=link_to "Countries", new_place_path%> > <%= params[:country_name] %></h4><hr><br>
      <%= render 'form' %>
      <%= render 'region', obj: @regions %>
      <% if current_user.email == "lowseng@yahoo.com" %>
        <%= render 'rawregion', obj: @rawregions %>
      <% end %>
    </div>
  </div>
</div> 