<%= render 'shared/errors', obj: @image %>

<div class="well col-xs-10 col-xs-offset-1">
  <table width="100%" border="1" cellspacing="5" cellpadding="5">
    <tr valign="center">  
      <% @article.images.each do |t| %>
        <td  valign="center"><%= image_tag t.picture.url, size: "150x100" %></td>
      <% end %>
    </tr>
  </table> <br>
  <% if @article.images.count < 5 %>
    <%= form_for @image, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
      <% if @image.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= f.hidden_field :name, :value => "test hide" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',  :onchange => "this.form.submit()" %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $('#image_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB.');
}
});
</script>