<%= render 'shared/errors', obj: @image %>
  <table width="100%" border="0" cellspacing=5 cellpadding=5>
    <tr valign="center">  
      <% mcount = 6 %>
      <% @article.images.each do |t| %>
        <td align="center" width="250" height="188">
          <table border="0" cellspacing=0 cellpadding=0>
            <tr><td>
              <div style="background-image: url('<%= t.picture.url %>');background-size: cover; position: relative; border: 3px solid; width: 250px; height: 188px;">
                <div class="property-x">
                  <%= link_to t('.destroy', :default => "X"), image_path(t),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }%>
                </div>
              </div>
            </td></tr>

          </table>
        </td>
        <% mcount = mcount - 1 %>
        <% if mcount == 3 %>
           <tr><td colspan="3">&nbsp;</td></tr>
           <tr><td colspan="3">&nbsp;</td></tr>
           <tr>
        <% end %>
      <% end %>

      <% while mcount > 0 %>
        <% if mcount == 3 %>
           <tr><td colspan="3">&nbsp;</td></tr>
           <tr><td colspan="3">&nbsp;</td></tr>
           <tr>
        <% end %>
        <td class="tdbg" align="center" width="280" height="190">
          <%= form_for @image, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
            <% if @image.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <% @image.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <%="Add Images?? Amplify your ad ::.."%><br><%="Share more images" %>
            <%= f.file_field :picture, accept: 'image/jpg,image/jpeg,image/gif,image/png',  :onchange => "this.form.submit()" %>
          <% end %>
        </td>
        <% mcount = mcount - 1 %>        
      <%end %>
    </tr>
  </table> <br>
  
  <% if @article.images.count < 6 %>
    <%= form_for @image, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
      <% if @image.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

<script type="text/javascript">
  $('#image_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB.');
}
});
</script>