<div id="container">
  <nav class="navbar navbar-inverse navbar-bottom navbar-custom">
  
    <div id="middle">
      <div align="center"><br>
        <%= link_to "Home".html_safe, welcome_mmindex_path, class: 'btn btn-footer' %>|
        <%= link_to "New Launch".html_safe, root_path(:proptype => "new Launch", :more => "Y"), class: 'btn btn-footer' %>|
        <%= link_to "For Sale".html_safe, root_path(:proptype => "for Sale", :more => "Y"), class: 'btn btn-footer' %>|
        <%= link_to "For Rent".html_safe, root_path(:proptype => "for Rent", :more => "Y"), class: 'btn btn-footer' %>|
        <%= link_to "For Auction".html_safe, root_path(:proptype => "for Auction", :more => "Y"), class: 'btn btn-footer' %>|
        <% if current_user %>
          <%= link_to "Sign Out ".html_safe, destroy_user_session_path, :method => :delete, class: 'btn btn-footer' %>        
        <% else %>
          <%= link_to "Sign In".html_safe, new_user_session_path, class: 'btn btn-footer'  %>
        <% end %>
      </div>
      <div align="center"><br>
        <img src='/assets/f.gif'>&nbsp;&nbsp;
        <img src='/assets/i.gif'>&nbsp;&nbsp;
        <img src='/assets/g.gif'>&nbsp;&nbsp;
        <img src='/assets/t.gif'>   
      </div>
    </div>
    <div id="left">
      <div align="right">
      <table width=100%>
        <tr>
          <td>
            <div align="right"><br>
              <img src='/assets/gvatar.gif'>
            </div>            
          </td>
          <td>
          <div>
            We are using Gravatar for your profile image! <br> 
            Your Gravatar is an image that follows you from site to site appearing beside your name when you do things like comment or post on a blog. 
            Avatars help identify your posts on blogs and web forums, etc.
          </div>            
          </td>
        </tr>
      </table>
    </div>
  </nav>
</div>
