<div class="well col-xs-12 col-xs-offset-0">
  <h4>PayPal Receipts - Detail</h4><hr>
  <p><strong>item_number: </strong><%= @paypal.item_number %></p>
  <p><strong>invoice: </strong><%= @paypal.invoice %></p>
  <p><strong>m_id: </strong><%= @paypal.m_id %></p>
  <p><strong>quantity: </strong><%= @paypal.quantity %></p>
  <p><strong>item_name: </strong><%= @paypal.item_name %></p>
  <p><strong>mc_currency: </strong><%= @paypal.mc_currency %></p>
  <p><strong>mc_gross: </strong><%= @paypal.mc_gross %></p>
  <p><strong>mc_fee: </strong><%= @paypal.mc_fee %></p>
  <p><strong>payment_gross: </strong><%= @paypal.payment_gross %></p>  
  <p><strong>payment_fee: </strong><%= @paypal.payment_fee %></p>
  <p><strong>handling_amount: </strong><%= @paypal.handling_amount %></p>  
  <p><strong>shipping: </strong><%= @paypal.shipping %></p>
  <p><strong>tax: </strong><%= @paypal.tax %></p>
  <p><strong>payment_status: </strong><%= @paypal.payment_status %></p>  
  <p><strong>payment_type: </strong><%= @paypal.payment_type %></p>
  <p><strong>payment_date: </strong><%= @paypal.payment_date %></p>
  <p><strong>txn_id: </strong><%= @paypal.txn_id %></p>
  <p><strong>txn_type: </strong><%= @paypal.txn_type %></p>
  <br><h4>Payer Information</h4><hr>
  <p><strong>first_name: </strong><%= @paypal.first_name %></p>  
  <p><strong>last_name: </strong><%= @paypal.last_name %></p>
  <p><strong>address_name: </strong><%= @paypal.address_name %></p>  
  <p><strong>address_street: </strong><%= @paypal.address_street %></p>
  <p><strong>address_city: </strong><%= @paypal.address_city %></p>
  <p><strong>address_state: </strong><%= @paypal.address_state %></p>  
  <p><strong>address_zip: </strong><%= @paypal.address_zip %></p>
  <p><strong>address_country: </strong><%= @paypal.address_country %></p>  
  <p><strong>address_country_code: </strong><%= @paypal.address_country_code %></p>
  <p><strong>payer_id: </strong><%= @paypal.payer_id %></p>
  <p><strong>payer_email: </strong><%= @paypal.payer_email %></p>  
  <p><strong>payer_status: </strong><%= @paypal.payer_status %></p>
  <br><h4>Receiver Information</h4><hr>
  <p><strong>business: </strong><%= @paypal.business %></p>  
  <p><strong>receiver_email: </strong><%= @paypal.receiver_email %></p>
  <p><strong>receiver_id: </strong><%= @paypal.receiver_id %></p>
  <p><strong>residence_country: </strong><%= @paypal.residence_country %></p>  

  <%= link_to 'Back', paypals_path %>
</div>